.layout-container {
  display: flex;
  gap: 16px;
}

.layout-grid {
  width: 60%;
}

.layout-list {
  width: 35%;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
}

.layout-list.hidden {
  display: none;
}